{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="uk-UA">
    <meta charset="UTF-8">
    <title>Кооператив "Пасічний"</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'koop/base.css' %}"/>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

{#    <link rel="stylesheet" href="{% static 'koop/tree.css' %}"/>#}
{#    <script src="{% static 'koop/tree.js' %}"></script>#}
    <link rel="stylesheet" href="{% static 'koop/jstree/themes/default/style.min.css' %}" />

    <script src="{% static 'koop/jstree/jstree.min.js' %}"></script>
    <script src="{% static 'koop/reports.js' %}"></script>

    {% block includes %}

    {% endblock %}

</head>
{% load report_tags %}
<body>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Звіти</h3>
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="col-xs-5">
                    <div id="reportsTree"></div>
                </div>
                <div class="col-xs-6">
                    <div class="panel panel-default" id="folderFormsContainer">
                        <div class="panel-heading">
                            <h3 class="panel-title" id="panelFormHeader"></h3>
                        </div>
                        <div class="panel-body">
                            Panel body be here!
                        </div>
                    </div>
                    <div class="panel" id="reportFormsContainer">
                        Report!
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>