{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="uk-UA">
    <meta charset="UTF-8">
    <title>Кооператив "Пасічний"</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'koop/base.css' %}"/>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

{#    <link rel="stylesheet" href="{% static 'koop/tree.css' %}"/>#}
{#    <script src="{% static 'koop/tree.js' %}"></script>#}
    <link rel="stylesheet" href="{% static 'koop/jstree/themes/default/style.min.css' %}" />

    <script src="{% static 'koop/jstree/jstree.min.js' %}"></script>
    <script src="{% static 'koop/reports.js' %}"></script>

    {% block includes %}

    {% endblock %}

</head>
{% load report_tags %}
<body>
    <div class="container-fluid">
        <div class="col-xs-5">
            <div class="panel">
                <div id="reportsTree">
                </div>

            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>